:root {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #F8F8F8;
  --secondary-color: #010101;

  --primary-bg-color: #000C3D;
  --secondary-bg-color: #212431;
  --accent-color: #FFB039;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-48: 48px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Inter', sans-serif;
  /* background: #fff; */
  color: var(--primary-text-color);
  font-size: var(--fs-22);
  line-height: 1.5;
  font-weight: var(--fw-regular);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  padding: 10px 0
}

img {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

/* UTILITY CLASSES  */

.primary-bg-color {
  color: var(--primary-bg-color);
}

.secondary-bg-color {
  color: var(--secondary-bg-color)
}

.primary-color {
  color: var(--primary-color);
}

.accent-color {
  color: var(--accent-color);
}

.title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.06em;
  text-align: left;

}